<html>
    <head>
        <title>Profiles</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/app.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
   <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inflix<i class="fa fa-users" aria-hidden="true"></i></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto"
        <% if(!currentUser){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Register </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <% } %>
      <% if(currentUser){ %>
            <li class="nav-item "><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
      <li class="nav-item active ">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
<div>