<html>
    <head>
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/app.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->
<link href="/stylesheets/search.css" type="text/css">
</head>
<body style="background-image:url('https://bitsum.com/wp-content/uploads/dark-background-images-5561-5821-hd-wallpapers.jpg');">
     <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inflix<i class="fa fa-users" aria-hidden="true"></i></a>

</nav>
<div class="container" style="margin-top: 8%;">
<div class="col-md-6 col-md-offset-3">     
<div class="row">
<div id="logo" class="text-center">
<h1 style="color:white">Enter name of Movie</h1><p>
</div>
<form role="form" id="form-buscar" action="/results" method="GET">
<div class="form-group">
<div class="input-group">
<input id="1" class="form-control" type="text" name="movie" placeholder="Search..." required/>
<span class="input-group-btn">
<button class="btn btn-success" type="submit">
<i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
</button>
</span>
</div>
</div>
</form>
</div>            
</div>
</div>
</body>
</html>